/*
main #5f4a8b
*/
$white-color: #efefef;
$text-color: #aaa8ad;

//$base-color: #2b2633;
$base-color: #26282e;

$base-color-light-shade: #4a4c51;
//$base-color-light-shade: #55515c;
$base-color-dark-shade: #222429;
//$base-color-light-shade: #5f4a8b;

$secondary-color: #ff6f61;
$secondary-color-light-shade: #ff8c81;
$nav-height: 88px;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "./poll.scss";

key {
    display: inline-block;
    height: 0.75rem;
    line-height: 0.6rem;
    padding: 0px 0.25rem;
    border: 1px solid $secondary-color;
    border-radius: 2px;

    font-size: 12px;
    color: $text-color;
}

html {
    font-size: 1rem;
}

body {
    color: $text-color;
    font-family: "Open Sans", serif;
}

.darker {
    color: $base-color-dark-shade;
}

.bold {
    font-weight: bold;
}

#settings {
    position: relative;
    z-index: 200;
}

.transition {
    -webkit-transition: all 0.35s 0s ease;
    -moz-transition: all 0.35s 0s ease;
    -o-transition: all 0.35s 0s ease;
    transition: all 0.35s 0s ease;
}

#watch {
    /*font-family: "Montserrat";*/
    position: relative;
    z-index: 100;

    .title {
        &:hover {
            color: $white-color;
            cursor: default;
        }
    }
    .forehead {
        position: relative;
        z-index: 200;
    }

    .face {
        font-family: "Montserrat";
        font-size: 6rem;
        line-height: 6rem;

        /*padding-bottom: 4rem;*/
    }

    .play {
        margin-top: 2px;
        height: 4rem;
        width: 4rem;

        color: inherit;
        border-radius: 50%;
        border: 0px;

        svg {
            float: left;
            height: 4rem;
            width: 4rem;
        }
    }

    @media (max-width: 1200px) {
    }
    @media (max-width: 992px) {
        .face {
            font-size: 4.75rem;
            line-height: 4.75rem;

            /*padding-bottom: 4rem;*/
        }

        .play {
            height: 3.5rem;
            width: 3.5rem;

            svg {
                float: left;
                height: 3.5rem;
                width: 3.5rem;
            }
        }
    }

    @media (max-width: 768px) {
        .face {
            font-size: 3.75rem;
            line-height: 3.75rem;

            /*padding-bottom: 4rem;*/
        }

        .play {
            height: 2.5rem;
            width: 2.5rem;

            svg {
                float: left;
                height: 2.5rem;
                width: 2.5rem;
            }
        }
    }

    @media (max-width: 576px) {
        .face {
            font-size: 3.25rem;
            line-height: 3.25rem;

            /*padding-bottom: 4rem;*/
        }

        .play {
            height: 2rem;
            width: 2rem;

            svg {
                float: left;
                height: 2rem;
                width: 2rem;
            }
        }
    }
}

h1 span.extrapolate {
    font-size: 0.8rem;
}
h2 span.extrapolate {
    font-size: 0.7rem;
}
h3 span.extrapolate {
    font-size: 0.6rem;
}
h4 span.extrapolate {
    font-size: 0.5rem;
}

span.extrapolate {
    display: inline;
    position: relative;
    vertical-align: top !important;
    font-size: 0.6rem;
    margin-top: -10px;
    margin-left: 2px;
    margin-right: 2px;
    &:hover {
        cursor: pointer;
        color: $white-color;
    }
}

.temp {
    width: 600px;
    min-height: 11rem;
}

.easy-eyes {
    color: $base-color-light-shade;
}

.display-1 {
    line-height: 1;
    margin-bottom: 0px;
}

#main {
    background-color: $base-color;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        position: relative;
        font-weight: 400;
        color: $text-color;
        font-family: "Open Sans", sans-serif;
    }
    h1,
    h2 {
        font-weight: 600;
    }
    p {
        font-family: "Montserrat", serif;
    }
}

.tilt {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.th {
    margin-top: -$nav-height;
    min-height: calc(100vh);
}

.settle {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;

    margin-bottom: 0.25rem;
}

.small .settle {
    opacity: 0;
}

.ease-transition {
    transition: all 250ms cubic-bezier(0.25, 0.1, 0.25, 1);

    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.main-navbar-wrapper {
    z-index: 10000;
}

.main-navbar-wrapper.small .main-navbar-brand img {
    height: 16px;
}

.main-navbar-brand {
    padding: 0.5rem;
}

.main-navbar-brand img {
    height: 28px;
}

#comply {
    background-color: $secondary-color;
    color: $white-color;
    font-size: 1.125rem;
    .btn-white {
        color: $secondary-color;
    }
}

#settle-logo {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.btn-default {
    color: $secondary-color;
    background-color: $base-color;
    border-color: $secondary-color;
}

.btn-default.active {
    color: $white-color;
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.btn-default:hover {
    color: $white-color;
    background-color: $secondary-color-light-shade;
    border-color: $secondary-color-light-shade;
}

.btn-text {
    background: none;
    color: inherit;
    border: none;
    padding: 0px;
}

.btn-text:hover {
    color: $white-color;
}

.btn-white {
    font-weight: bold;
    color: $text-color;
    background-color: $white-color;
    border-color: $white-color;
}

.btn-white:hover {
    color: $secondary-color;
    background-color: $secondary-color-light-shade;
    border-color: $secondary-color-light-shade;
}

.btn-fa-icon {
    display: inline-block;
    color: inherit;
    min-width: 26px;
    padding: 0px;
}

.btn-fa-icon.undo svg {
    height: 0.88rem;
}

.btn-fa-icon:hover,
.btn-fa-icon.active {
    color: $white-color !important;
}

.btn-white:not(:disabled):not(.disabled).active,
.btn-white:not(:disabled):not(.disabled):active,
.show > .btn-white.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}

#content {
    margin-top: -$nav-height;
    padding-top: $nav-height;
}

.dontduckinglookatme {
    /* It's not about being in line, it's about looking in line*/
    margin-right: -5px;
}

#phase {
    //margin-top: 34px;
}

.pulse {
    -webkit-animation: color_change 2.5s infinite alternate;
    -moz-animation: color_change 2.5s infinite alternate;
    -ms-animation: color_change 2.5s infinite alternate;
    -o-animation: color_change 2.5s infinite alternate;
    animation: color_change 2.5s infinite alternate;
}

@-webkit-keyframes color_change {
    from {
        color: $white-color;
    }
    to {
        color: inherit;
    }
}
@-moz-keyframes color_change {
    from {
        color: $white-color;
    }
    to {
        color: inherit;
    }
}
@-ms-keyframes color_change {
    from {
        color: $white-color;
    }
    to {
        color: inherit;
    }
}
@-o-keyframes color_change {
    from {
        color: $white-color;
    }
    to {
        color: inherit;
    }
}
@keyframes color_change {
    from {
        color: $white-color;
    }
    to {
        color: inherit;
    }
}

#pomo {
}
@media (max-width: 576px) {
    #pomo {
    }
}

.nav-padding {
    padding: $nav-height 0px;
}

#wrap-app {
    width: 525px;
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
    #wrap-app {
        width: 425px;
    }
}

@media (max-width: 768px) {
    #wrap-app {
        width: 345px;
    }
}

@media (max-width: 576px) {
    #wrap-app {
        width: 300px;
    }
}
